@tailwind base;
@tailwind components;
@tailwind utilities;

.form__add__product:not(:placeholder-shown) + label,
.form__add__product:focus + label,
.form__contact:not(:placeholder-shown) + label,
.form__contact:focus + label {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 0.75rem;
  top: 0;
}

.input-container--invalid {
  margin-bottom: 0.5rem;
}

.input-container--invalid .input-message-error {
  color: red;
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

#precioProducto {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}